.button-smooth {
  font-size: 12px;
  line-height: 20px;
  align-items: center;
  background-color: #dd3037;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  border-radius: 30px;
  padding: 10px 36px;
  align-self: center;
}
