.career {
  background-color: #111311;
}

.career__review {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  margin: 0 0 20px;
}

.career__title {
  margin: 43px 0 35px;
}

.career__slider {
  padding: 0;
}
