.choose-department__section-title {
  margin-top: 43px;
  margin-bottom: 35px;
  align-self: flex-start;
  word-spacing: 3px;
  letter-spacing: -1px;
}

.choose-department__filter {
  margin-bottom: 35px;
}
