.header {
  background-color: #111311;
  color: #ffffff;
  display: flex;
  padding: 5px 10px 5px 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 100vw;
    height: 100%;
    left: calc((100vw - 100%) / -2);
    background: #111311;
    z-index: -2;
  }
}

.header__logo-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header-contacts {
  margin: 0;
  width: 100px;
  text-align: end;
}
