.products {
  align-items: center;
  padding: 0;
}

.products__title {
  margin: 45px 0 35px;
}

.products__filter {
  margin: 0 0 35px;
}

.products__slider {
  padding: 0 0 46px;
}

.products__slider-dots {
  margin: 17px 0 0;
}
