.slider-dots {
  display: flex;
  align-items: center;
  flex-flow: wrap;
  justify-content: center;
}

.slider-dots__list {
  display: flex;
  align-items: center;
  flex-flow: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
  gap: 9px;
}

.slider-dots__dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
  background-color: #888988;

  &--active {
    width: 42.6px;
    background-color: #ffffff;
    border-radius: 25px;
  }
}
